/* 页面背景，预留图片插入处 */
body {
    padding-top: 150px; /* 根据导航栏的高度调整 */
    font-family: Arial, sans-serif;
    background: url("../images/imgback.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* 页面内容整体样式 */
#Content {
    text-align: center;
    padding: 20px;
}

/* 标题居中、放大显示 */
h2 {
    font-size: 70px;
    /*font-weight: bold;*/
    color: white;
    margin-bottom: 40px;
    margin-top: -20px;  /* 向上移动 */
    /*text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); !* 设置阴影 *!*/
}

/* 链接容器样式 */
.link-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 220px;
}

/* 链接样式 */
.link-container p {
    margin: 15px 0;
}

.link-container a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.link-container a:hover {
    text-decoration: underline;
}

/* 页脚样式 */
.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 12px;
}

/* 左侧的照片播放墙 */
.photo-wall {
    width: 60%; /* 保持宽度为60% */
    height: 50vh; /* 高度设为视口高度的一半 */
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    position: absolute; /* 使用绝对定位 */
    top: 50%; /* 使元素垂直居中 */
    left: 10%; /* 离左边窗口边缘有10%的距离 */
    transform: translateY(-50%); /* 将元素在垂直方向上向上移动50%的高度，确保垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
}

.photo-wall img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.photo-wall img.active {
    opacity: 1;
}


