select {
    width: 500px; /* 增大宽度 */
    height: 30px; /* 增大高度 */
    text-align: center; /* 使文字居中 */
    font-size: 16px; /* 调整字体大小以提高可读性 */
}

body {
    background-image: url('../images/imgback.png'); /* 替换为你的背景图路径 */
    background-size: cover; /* 让背景图充满整个页面 */
    background-repeat: no-repeat;
    background-attachment: fixed; /* 使背景固定在视口 */
    padding-top: 70px; /* 根据导航栏的高度调整 */
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

#BackLink {
    margin: 20px;
    text-align: right;
}

#Catalog {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#Cart h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="text"] {
    width: 500px; /* 增大宽度 */
    height: 30px; /* 增大高度 */
    text-align: center;
}

.text2{
    width: 100px; /* 增大宽度 */
    height: 30px; /* 增大高度 */
    text-align: center;
}

.Button {
    background-color: #007BFF;
    color: white;
    padding: 5px 5px; /* 增大内边距 */
    font-size: 20px; /* 增大字体大小 */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Button:hover {
    background-color: #0056b3;
}

/* 如果有提交按钮，可以增加相同的样式 */
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 5px 5px; /* 增大内边距 */
    font-size: 20px; /* 增大字体大小 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.centered-text {
    text-align: center;
}
