#ActionButtons {
    position: fixed; /* 固定在页面底部 */
    bottom: 0;
    left: 0;
    width: 100%; /* 占满页面宽度 */
    background-color: rgba(255, 255, 255, 0.3); /* 调整背景透明度 */
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    padding: 20px 0; /* 增大内边距 */
    text-align: center;
}

.total-price {
    font-size: 18px; /* 设置总价格字体大小 */
   /* font-weight: bold; !* 设置加粗 *!*/
    color: black; /* 默认文字颜色 */
    margin-bottom: 15px; /* 调整总价格与按钮之间的间距 */
}

.text-container {
    display: flex;
    justify-content: center; /* 居中对齐 */
    gap: 40px; /* 增大三个按钮之间的间距 */
}

.text-button {
    font-size: 20px; /* 调整文字大小 */
  /*  font-weight: bold; !* 加粗文字 *!*/
    color: black; /* 默认文字颜色为黑色 */
    cursor: pointer; /* 鼠标变为手势 */
    transition: color 0.3s ease; /* 添加颜色变化的过渡效果 */
    text-decoration: underline; /* 去掉文字下划线 */
}

.text-button:hover {
    color: #007BFF; /* 鼠标悬停时变为蓝色 */
}

.text-button:active {
    color: darkblue; /* 鼠标按下时变为深蓝色 */
}
