body {
    background-image: url('../images/imgback.png'); /* 替换为你的背景图路径 */
    background-size: cover; /* 让背景图充满整个页面 */
    background-repeat: no-repeat;
    background-attachment: fixed; /* 使背景固定在视口 */
}

.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 设置两列布局 */
    grid-template-rows: repeat(2, 1fr); /* 设置两行布局 */
    gap: 20px;
    width: 80%; /* 调整整体容器宽度以适应页面 */
    margin: 20px auto; /* 居中 */
}

.category-box {
    display: flex;
    flex-direction: column; /* 将布局方向设置为列 */
    align-items: center;
    height: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.category-box:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.category-box img {
    width: 100%; /* 图片宽度填充父容器 */
    height: 100%; /* 图片高度填充父容器 */
    max-width: 200px; /* 限制图片最大宽度 */
    max-height: 150px; /* 限制图片最大高度 */
    object-fit: contain; /* 保持图片比例，同时确保图片不会被拉伸 */
    border-radius: 8px; /* 保持图片圆角效果 */
    flex-grow: 0; /* 不让图片占据多余空间 */
    margin-bottom: 10px;
}

.category-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: auto; /* 将文字推到模块底部 */
}
.search-form {
    margin-top: 75px;
    text-align: center;
    display: flex; /* 使用flex布局 */
    justify-content: center;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 700px; /* 调整宽度使搜索框更长 */
    font-size: 16px;
    border-radius: 20px; /* 圆角风格 */
    border: 1px solid #ccc;
    height: 30px; /* 设置输入框高度 */
    outline: none; /* 去掉聚焦时的边框 */
}

.search-form button {
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 50%; /* 按钮圆形 */
    display: flex; /* 使用flex布局确保图标居中 */
    justify-content: center;
    align-items: center;
    height: 40px; /* 确保按钮和输入框高度一致 */
    width: 40px; /* 按钮宽度 */
    margin-left: 10px; /* 按钮与输入框的间距 */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button img {
    width: 20px; /* 图标大小 */
    height: 20px;
}

.search-form button:hover {
    background-color: #0056b3;
}

