body {
    background-image: url('../images/imgback.png'); /* 替换为你的背景图路径 */
    background-size: cover; /* 让背景图充满整个页面 */
    background-repeat: no-repeat;
    background-attachment: fixed; /* 使背景固定在视口 */
}

.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 设置两列布局 */
    grid-template-rows: repeat(2, 1fr); /* 设置两行布局 */
    gap: 20px;
    width: 80%; /* 调整整体容器宽度以适应页面 */
    margin: 20px auto; /* 居中 */
}

.category-box {
    display: flex;
    flex-direction: column; /* 将布局方向设置为列 */
    align-items: center;
    height: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.category-box:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.category-box img {
    width: 30%; /* 调整图片宽度，使其占据更多空间 */
    height: auto; /* 自动调整高度保持比例 */
    border-radius: 8px; /* 保持图片圆角效果 */
    object-fit: cover;
    flex-grow: 1; /* 让图片在垂直方向上占据更多空间 */
    margin-bottom: 10px;
}
.category-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: auto; /* 将文字推到模块底部 */
}
.search-form {
    margin-top: 30px;
    text-align: center;
}

.search-form input[type="text"] {
    padding: 8px;
    width: 200px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-button img {
    width: 20px; /* 图片大小 */
    height: 20px;
}

.search-form button:hover {
    background-color: #0056b3;
}